# This is a template for the environment variables you'll need for 
# deployment on Rinkeby and mainnet

# To use, copy this file, rename it .env, and fill in the values
# Everything will be interpreted as a string by JavaScript even though 
# you should not wrap values in quotation marks

# Infura endpoints should be passed in WITHOUT the rest of the url
# Private keys should be pasted WITHOUT the 0x prefix

# Network
CURRENT_NETWORK_CHAIN_ID=4

# Network lookup by chain Id
NETWORK_CHAIN_ID_LOOKUP='{ "4": "rinkeby" }'

# Rinkeby
RINKEBY_INFURA_KEY=
RINKEBY_DEPLOYER_PRIV_KEY=

# Kovan
KOVAN_INFURA_KEY=
KOVAN_DEPLOYER_PRIV_KEY=

# mainnet
MAINNET_INFURA_KEY=
MAINNET_DEPLOYER_PRIV_KEY=

# Ropsten
ROPSTEN_INFURA_KEY=
ROPSTEN_DEPLOYER_PRIV_KEY=

# Goerli
GOERLI_INFURA_KEY=
GOERLI_DEPLOYER_PRIV_KEY=

# xDai
XDAI_DEPLOYER_PRIV_KEY=

# etherscan API
ETHERSCAN_API=

# SIGNER KEY
SIGNER_ADDRESS=
SIGNER_KEY=

# API
CRYPTO_API_SERVER_PORT_DEV=4200
CRYPTO_API_SERVER_PORT_PROD=8000

NFT_MARKET_API_SERVER_PORT_DEV=4444
NFT_MARKET_API_SERVER_PORT_PROD=5555