.listings {
  display: grid;
  // grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1rem;
  justify-content: center;
  padding: 0;
  width: 75%;

  &::after {
    content: "";
    flex: auto;
  }

  li {
    list-style: none;

    img {
      height: 100%;
      width: 100%;
    }

    .listing-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1em;
      margin-top: 8px;
      height: 25px;

      .listing-price {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          height: 1em;
          width: 1em;
        }
      }
    }

    .listing-buy-now {
      display: flex;
      padding-top: 8px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
