@use "variables";
@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

html,
body {
  height: 100%;
}
html {
  background: mixins.theme-var(variables.$theme-background);
  font-family: "Fredoka", sans-serif;
}

body {
  margin: 0;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: mixins.theme-var(variables.$theme-on-surface);
  margin: 0;
}

button {
  border: 0;
  border-radius: 2px;
  height: 25px;
  background-color: mixins.theme-var(variables.$theme-primary);
  color: mixins.theme-var(variables.$theme-surface);
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: mixins.theme-var(variables.$theme-secondary);
    transition: background-color 1500ms !important;
    // transition-delay: 0s !important;
  }
}

a {
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  color: mixins.theme-var(variables.$theme-on-surface);

  &:hover {
    cursor: pointer;
    color: mixins.theme-var(variables.$theme-secondary);
    transition: color variables.$hover-transition-duration !important;
    // transition-delay: 0s !important;
  }
}

.page {
  padding: 0 25px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form {
  width: 200px;

  label {
    font-size: 12px;
    color: mixins.theme-var(variables.$theme-on-surface);
  }

  input {
    height: 20px;
    border: 0;
    border-radius: 2px;
    margin: 2px 0;
    color: mixins.theme-var(variables.$theme-on-surface);
    background: mixins.theme-var(variables.$theme-on-background);
    font-size: 10px;

    &.small {
      width: 33%;
    }

    &.medium {
      width: 66%;
    }
  }

  .form-section {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  }
}

@media (min-width: 768px) {
  .page {
    padding: 0;
  }
}
