@use "variables";
@use "mixins";

.navigation {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: mixins.theme-var(variables.$theme-surface);
  padding: 5px 10px;

  h2 {
    padding: 0;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .links {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    .toggle-wrapper {
      padding: 0 0.5em 0 0;
    }

    nav {
      height: inherit;
      display: flex;
      align-items: center;

      > * {
        font-size: 0.9em;
        padding: 0 0.5em 0 0;
      }
    }
  }
}

.user-drawer {
  background: mixins.theme-var(variables.$theme-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75px;
  position: absolute;
  height: 200px;
  width: 69%;
  border: 1px solid black;
  border-radius: 3px;

  ul {
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      height: 25px;
      width: 100%;
      border-top: 1px solid mixins.theme-var(variables.$theme-on-background);
      list-style: none;
      text-align: left;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}

@media (min-width: 768px) {
  .navigation {
    height: 30px;
    flex-direction: row;
    justify-content: space-between;

    .links {
      height: inherit;
    }
  }

  .user-drawer {
    height: 200px;
    width: 150px;
    top: 33px;
    right: 10px;
  }
}
